@import 'variables';

*{
	box-sizing: border-box;
	&:focus{ outline:0 !important; }
}

html{
	//font-size: 16px;
	@include fluid-type(320px, 1200px, 14px, 24px);
	&.hide-overflow{
		overflow: hidden;
	}
}

body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}



ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a, input, button {
	text-decoration: none;
    transition: all 0.3s ease-in-out;
	&:hover,
	&:focus{
    	text-decoration: none;
    }
}
img{
	width: 100%;
}


button{
	appearance: none;
	border: none;
	background: transparent;
}

.hidden {
	@extend %hidden;
}

.animated{
	@extend %animated;
}

.pink{
	color: $pink;
}

.title-big{
	h1,h2, h3{
		@include fluid-type(320px, 1500px, 24px, 52px);
		color: $blue;
		font-weight: 400;
		margin: 1rem 0;
		position: relative;
		text-align: left;
		span{
			font-weight: 700;
		}
		&:before{
			@include pseudo($left: 0, $top: 100%);
			background: $blue;
			height: 1px;
			margin-top: 10px;
			width: 50px;
		}
	}
}

.title-small{
	h2, h3{
		@include fluid-type(320px, 1500px, 22px, 30px);
		color: $blue;
		font-weight: 400;
		margin: 1rem 0;
		position: relative;
		text-align: left;
		span{
			font-weight: 700;
		}
		&:before{
			@include pseudo($left: 0, $top: 100%);
			background: $blue;
			height: 1px;
			margin-top: 10px;
			width: 50px;
		}
	}
}