
.top-content{

}
.text{
	text-align: center;
	padding: 50px 0;
	font-size: 20px;
	line-height:  1 !important;
	h2{
		margin: 20px 0 40px;
	}
}

.title{
	
	position: relative;
	text-align: center;
	margin: 0px 0 50px;
	h2{
		font-size: 30px;
		display: inline-block;
		font-weight: 100;
		&::after{
			@include pseudo;
			height: 1px;
			background: #000;
			width: 200px;
			left: 50%;
			transform: translate(-50%, 0);


		}
	}
	
}

.agenda{
	position: relative;
	.button{
		background: #2d363f;
		padding: 0 0 45px;
    margin: 0 auto;
			text-align: center;
	}
	a{
		color: #fff !important;
		background-color: #669f94 !important;
		cursor: pointer;
		border-radius: 20px !important;
		padding: 15px 30px !important;
		font-weight: 700;
		font-size: 40px;
		margin: 5px 0 !important;
		outline: none !important;
		text-align: center;
		text-decoration: none;
		zoom: 1;
	
		transition: all .3s ease-in-out;
		&:hover {
	
		}
	}
}

