/* LAYOUT
*********************************************************** */
.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 15px;
    width: 100%;
}
.no-gutter{
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-left{
    padding-left: 0;
}
.no-gutter-right{
    padding-right: 0;
}  
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
  
.direction{
    &-reverse{
        flex-direction: row-reverse;
    }
    &-col{
        flex-direction: column;
    }
    &-col-reverse{
        flex-direction: column-reverse;	
    }
}
.justify{
    &-between{
        justify-content: space-between;
    }
    &-center{
        justify-content: center;
    }
    &-end{
        justify-content: flex-end;	
    }
    &-start{
        justify-content: flex-start;
    }
    &-evenly{
        justify-content: space-evenly;
    }
    &-around{
        justify-content: space-around;
    }
}
.align-items{
    &-center{
        align-items: center;
    }
    &-start{
        align-items: flex-start;
    }
    &-end{
        align-items: flex-end;
    }
    &-baseline{
        align-items: baseline;
    }
}
.align-content{
    &-center{
        align-content: center;
    }
    &-start{
        align-content: flex-start;
    }
    &-end{
        align-content: flex-end;
    }
    &-baseline{
        align-content: baseline;
    }
}
.wrap{
    flex-wrap: wrap;
    &-reverse{
        flex-wrap: wrap-reverse;
    }
}

.h-80{
    height: 80px;
}
.h-114{
    height: 114px;
}
.w-1000{
    margin: 0 auto!important;
    max-width: 1000px;
    width: 100%;
}
.w-480{
    background-color: $white;
    border-radius: 5px;
    flex-basis: auto!important;
    margin: 15px 0;
    max-width: 480px!important;
    text-align: center;
    width: 100%;
}
.w-237{
    background-color: $white;
    border-radius: 5px;
    flex-basis: auto!important;
    margin: 15px 0;
    max-width: 237px!important;
    text-align: center;
    width: 100%;
}
.w-205{
    background-color: $white;
    border-radius: 5px;
    flex-basis: auto!important;
    margin: 15px 0;
    max-width: 205px!important;
    text-align: center;
    width: 100%;
}
.w-130{
    background-color: $white;
    border-radius: 5px;
    flex-basis: auto!important;
    margin: 15px 0;
    max-width: 130px!important;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: $break-s){
    .w-480{
        margin: 15px auto;
       // width: 95%!important;
    }
    .w-205{
        margin: 15px auto;
        width: 95%!important;
    }
    .w-237{
        width: 49%!important;
    }
    .w-130{
        width: 30%!important;
    }
}