/*.register{
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .overlay{
        background: rgba($color: $black, $alpha: .8);
        height: 100%;
        position: relative;
        width: 100%;

    }
}
*/
.fix-form{
    background: url(images/baknisimo-formulario-bg.jpg)top center no-repeat;
    background-size: cover;
    max-width: 950px;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    h3{
        @include fluid-type(320px, 1500px, 22px, 30px);
        color: $blue;
        font-weight: 400;
        margin: 1rem 0;
        text-align: center;
    }
    h4{
        @include fluid-type(320px, 1500px, 18px, 24px);
        color: $blue;
        text-align: center;
    }
    form{
        margin: 20px auto;
        max-width: 750px;
        width: 100%;    
    }
    .field{
        label{
            display: inline-block;
            min-width: 100px;
            padding: 0 15px 0 0;
        }
        input{
            border-radius: 10px;
            display: inline-block;
        }
        &.fecha{
            label{
                min-width: 200px;
            }
        }
    }
    .double-field{
        flex-direction: column;
    }
    .custom-select {
        position: relative;
        select{
            display: none;
        }
    }
    .select-selected {
        background-color: $white;
        border: 1px solid #898989;
        padding: 20px 50px 20px 20px;
        position: relative;
        text-align: left;
        width: 180px;
        &:before{
            @include pseudo($right: 0, $top: 43%);
            background:url(images/svg/baknisimo-flecha.svg)top center no-repeat;
            height: 10px;
            margin-right: 10px;
            transition: .5s ease;
            width: 20px;
        }
        &.select-arrow-active{
            &:before{
                transform: rotate(180deg);
            }
        }
    }
    .select-items div,.select-selected {
        color: $txt_color;
        padding: 8px 16px;
        //border: 1px solid #898989;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        position: relative;
        width: 180px;
    }
    .select-items {
        border: 1px solid #898989;
        border-radius: 10px;
        position: absolute;
        background-color: $white;
        top: 100%;
        right: 0;
        z-index: 99;
    }
    .select-hide {
        display: none;
    }
}

@media only screen and (min-width: $break-m){
    .fix-form{
        width: 100%;
        form{
            padding: 50px 0;
        }
        .field{
            flex-direction: row;
            label{
                display: inline-block;
                &.pl-15{
                    padding-left: 15px;
                }
            }
            input{
                display: inline-block;
            }
        }
        .double-field{
            flex-direction: row;
            justify-content: space-between;
        }
        .document{
            label{
                max-width: 220px;
                width: 100%;
            }
        }
        .address{
            input{
                width: 450px;
            }   
        }
    }

}